<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revathy's Portfolio</title>
    <meta name="description" content="Revathy Sindhu Chellapandian's' Portfolio" />
    <meta name="keywords" content="Revathy Sindhu Chellapandian, Revathy, Portfolio, Web Designer, Web Developer" />
    <meta name="author" content="Revathy Sindhu" />
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/angular-material.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/flickity.min.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/timeline.css" />
    <link rel="stylesheet" type="text/css" href="css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />
    <link rel="stylesheet" id="options_typography_Montserrat-css" href="http://fonts.googleapis.com/css?family=Montserrat&amp;subset=latin" type="text/css" media="all" />
    <link rel="stylesheet" id="options_typography_Raleway:100-css" href="http://fonts.googleapis.com/css?family=Raleway:100&amp;subset=latin" type="text/css" media="all" />
</head>

<body ng-app="RevaPortfolioApp">
    <!-- Overall Body Container (contains all the pages) -->
    <div id="pt-main" class="pt-perspective ng-cloak">
        <!-- *********************************** -->
        <!-- Start: About Me (Home) Page -->
        <div class="container pt-page pt-page-1 pt-page-about" name="about">
            <!-- Navigation To Previous Page -->
            <div class="navigationContainer" layout-gt-xs="row" layout="row" layout-sm="column" layout-align="center center" flex>
                <div class="icon previousPageLink" title="Previous Page">
                    <i class="fa fa-angle-double-up fa-lg"></i>
                </div>
            </div>
            <h1 class="row"><span>Web Designer / Developer</span><strong>Revathy</strong></h1>
            <div class="row pt-page-1-content">
                <!-- Start: About Me Page Top Content -->
                <div class="row">
                    <!-- About Me Page Top Content Left Side-->
                    <div class="col-md-5 about-me-left animated slideInLeft">
                            <h5>NAME</h5>
                            <h6>Revathy (call me SID)</h6>
                            <h5>EXPERTISE</h5>
                            <h6>HTML, CSS, JS, Photoshop, Illustrator</h6>
                            <h5>INTERESTS</h5>
                            <h6>Photography, Books, BasketBall</h6>
                    </div>
                    
                    <!-- About Me Page Top Content Center Image-->
                    <div class="col-md-2 about-me-center">
                        <p><img class="profile-picture" src="img/profile-picture.png" 
                        alt="Aboute Me Profile Picture" width="370" height="353"/></p>
                    </div>
                    
                    <!-- About Me Page Top Content Right Side-->
                    <div class="col-md-5 about-me-right animated slideInRight" >
                        <h5>ADDRESS</h5>
                        <h6>Glenmoore PA</h6>
                        <h5>EMAIL</h5>
                        <h6><a href="mailto:revsindhuc@gmail.com">revsindhuc@gmail.com</a></h6>
                        <h5>PHONE</h5>
                        <h6>+1 609 678 5482</h6>
                    </div>
                </div>
                <!-- End: About Me Page Top Content -->
                
                <!-- Start: About Me Page Bottom Carousel -->
                <div class="row">
                    <section id="dg-container" class="dg-container">
                        <div class="dg-wrapper">
                            <a href="#"><img src="img/1.jpg" alt="image01"><div></div></a>
                            <a href="#"><img src="img/2.jpg" alt="image02"><div></div></a>
                            <a href="#"><img src="img/3.jpg" alt="image03"><div></div></a>
                            <a href="#"><img src="img/4.jpg" alt="image04"><div></div></a>
                            <a href="#"><img src="img/5.jpg" alt="image05"><div></div></a>
                            <a href="#"><img src="img/6.jpg" alt="image06"><div></div></a>
                            <a href="#"><img src="img/7.jpg" alt="image07"><div></div></a>
                            <a href="#"><img src="img/8.jpg" alt="image08"><div></div></a>
                            <a href="#"><img src="img/9.jpg" alt="image09"><div></div></a>
                            <a href="#"><img src="img/10.jpg" alt="image10"><div></div></a>
                            <a href="#"><img src="img/11.jpg" alt="image11"><div></div></a>
                            <a href="#"><img src="img/12.jpg" alt="image12"><div></div></a>
                        </div>
                        <!--nav>	
                            <span class="dg-prev">&lt;</span>
                            <span class="dg-next">&gt;</span>
                        </nav-->
			         </section>
                </div>
                <!-- End: About Me Page Bottom Carousel -->
            </div>
            <!-- Navigation To Next Page -->
            <div class="navigationContainer nextPageNavContainer" layout-gt-xs="row" layout="row" layout-sm="column" layout-align="center center" flex>
                <div class="icon nextPageLink" title="Next Page">
                    <i class="fa fa-angle-double-down fa-lg"></i>
                </div>
            </div>
        </div>
        <!-- *********************************** -->
        <!-- End: About Me (Home) Page -->
        
        <!-- *********************************** -->
        <!-- Start: Skills Page -->
        <div class="container pt-page pt-page-2" name="skills">
            <!-- Navigation To Previous Page -->
            <div class="navigationContainer" layout-gt-xs="row" layout="row" layout-sm="column" layout-align="center center" flex>
                <div class="icon previousPageLink" title="Previous Page">
                    <i class="fa fa-angle-double-up fa-lg"></i>
                </div>
            </div>
            <h1 class="row"><span><i class="fa fa-cog fa-2x"></i></span><strong>SKILLS</strong></h1>
            <div class="row pt-page-1-content">
                <section id="skills">
                    <div class="container">
                        <div class="row skills">
                            <div class="col-sm-6 col-md-3 text-center">
                                <span class="chart" data-percent="80"><span class="percent">80</span></span>
                                <h2 class="text-center textHel">Web Design</h2>
                            </div>
                            <div class="col-sm-6 col-md-3 text-center">
                                <span class="chart" data-percent="80"><span class="percent">90</span></span>
                                <h2 class="text-center textHel">HTML / CSS</h2>
                            </div>
                            <div class="col-sm-6 col-md-3 text-center">
                                <span class="chart" data-percent="90"><span class="percent">80</span></span>
                                <h2 class="text-center textHel">Graphic Design</h2>
                            </div>
                            <div class="col-sm-6 col-md-3 text-center">
                                <span class="chart" data-percent="70"><span class="percent">70</span></span>
                                <h2 class="text-center textHel">UI / UX</h2>
                            </div>
                        </div>
                        <!--End row -->
                        <div class="row skills">
                            <div class="col-sm-6 col-md-3 text-center">
                                <!-- left empty -->
                            </div>
                            <div class="col-sm-6 col-md-3 text-center">
                                <span class="chart" data-percent="50"><span class="percent">50</span></span>
                                <h2 class="text-center textHel">JavaScript</h2>
                            </div>
                            <div class="col-sm-6 col-md-3 text-center">
                                <span class="chart" data-percent="40"><span class="percent">40</span></span>
                                <h2 class="text-center textHel">Web Development</h2>
                            </div>
                            <div class="col-sm-6 col-md-3 text-center">
                                <!-- left empty -->
                            </div>
                        </div>
                        <!--End row -->
                    </div>
                    <!--End container -->
                </section>
                <!--End skills section -->
            </div>
            <!-- Navigation To Next Page -->
            <div class="navigationContainer nextPageNavContainer" layout-gt-xs="row" layout="row" layout-sm="column" layout-align="center center" flex>
                <div class="icon nextPageLink" title="Next Page">
                    <i class="fa fa-angle-double-down fa-lg"></i>
                </div>
            </div>
        </div>
        <!-- *********************************** -->
        <!-- End: Skills Page -->
        
        <!-- *********************************** -->
        <!-- Start: Work Experience Page -->
        <div class="container pt-page pt-page-3" name="work">
            <!-- Start: Navigation to previous page -->
            <div class="navigationContainer" layout-gt-xs="row" layout="row" layout-sm="column" layout-align="center center" flex>
                <div class="icon previousPageLink" title="Previous Page">
                    <i class="fa fa-angle-double-up fa-lg"></i>
                </div>
            </div>
            <!-- End: Navigation to previous page -->
            <h1 class="row"><span><i class="fa fa-cubes fa-2x"></i></span><strong>Experience</strong></h1>
            <!-- Start: Experience content -->
            <div class="row pt-page-1-content" id="experience">
                <!-- Start: Current Experience with startups -->
                <div class="container experience-container">
                    <!-- left swimlane -->
                    <div class="col-md-5 experience-description-container">
                        <div class="experience-panel-left">
                            <div class="experience-description">
                                <h4>Web Designer / Developer</h4>
                                <h5>Startups / Incubators</h5>
                                <p>Advised, designed and developed the user experience for a few startups (being incubated)
                                    using Photoshop, Illustrator, HTML5, CSS3, JavaScript, Bootstrap, JQuery and AngularJS.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- timeline and badge -->
                    <div class="col-md-2 experience-timeline-container">
                        <!-- do not repeat this line again -->
                        <div class="experience-timeline" style="position: absolute;height: 505px;"></div>
                        <div class="experience-timeline-badge">
                            <span class="fa fa-check fa-2x experience-timeline-badge-icon"></span>
                        </div>
                    </div>
                    <!-- right swimlane -->
                    <div class="col-md-5">
                        <div class="experience-date-container experience-date-container-right"> Jan 2013 - till today</div>
                    </div>
                </div>
                <!-- End: Current Experience with startups -->
                <!-- Start: Jan 2011 to Nov 2012 Experience with Lockheed Martin -->
                <div class="container experience-container">
                    <!-- left swimlane -->
                    <div class="col-md-5">
                        <div class="experience-date-container experience-date-container-left"> Jan 2011 - Nov 2012</div>
                    </div>

                    <!-- timeline and badge -->
                    <div class="col-md-2 experience-timeline-container">
                        <div class="experience-timeline-badge">
                            <span class="fa fa-check fa-2x experience-timeline-badge-icon"></span>
                        </div>
                    </div>
                    <!-- right swimlane -->
                    <div class="col-md-5 experience-description-container">
                        <div class="experience-panel-right">
                            <div class="experience-description">
                                <h4> Web Designer / Developer</h4>
                                <h5>Lockheed Martin</h5>
                                <p>Designed and developed web based 3D simulation application front-ends for several Lockheed
                                    Martin products using HTML5, CSS3, JavaScript, JSON, JQuery, AngularJS, Photoshop, Illustrator
                                    and Dreamweaver. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Jan 2011 to Nov 2012 Experience with Lockheed Martin -->
                <!-- Start: Jan 2010 to Dec 2010 Experience with Idea Arts and EventMood -->
                <div class="container experience-container">
                    <!-- left swimlane -->
                    <div class="col-md-5 experience-description-container">
                        <div class="experience-panel-left">
                            <div class="experience-description">
                                <h4>Web Design Intern</h4>
                                <h5>Idea Arts & EventMood Inc.</h5>
                                <p>Collected requirements to design and develop a new web site for IDEA Arts, Camden, NJ.Designed
                                    and created brochures, fliers, logos, presentations and other graphics artifacts for
                                    EventMood Inc., NJ. Designed and developed a website for event-registration for the Mother’s
                                    day event organized in New York City by EventMood Inc.</p>
                            </div>
                        </div>
                    </div>
                    <!-- timeline and badge -->
                    <div class="col-md-2 experience-timeline-container">
                        <div class="experience-timeline-badge">
                            <span class="fa fa-check fa-2x experience-timeline-badge-icon"></span>
                        </div>
                    </div>
                    <!-- right swimlane -->
                    <div class="col-md-5">
                        <div class="experience-date-container experience-date-container-right"> Jan 2010 - Dec 2010</div>
                    </div>
                </div>
                <!-- End: Jan 2010 to Dec 2010 Experience with Idea Arts and EventMood -->
            </div>
            <!-- End: Experience content -->
            <!-- Start: Navigation to next page -->
            <div class="navigationContaine nextPageNavContainer" layout-gt-xs="row" layout="row" layout-sm="column" layout-align="center center" flex>
                <div class="icon nextPageLink" title="Next Page">
                    <i class="fa fa-angle-double-down fa-lg"></i>
                </div>
            </div>
            <!-- End: Navigation to next page -->
        </div>
        <!-- *********************************** -->
        <!-- End: Work Experience Page -->
        
        <!-- *********************************** -->
        <!-- Start: Education Page -->
        <div class="container pt-page pt-page-4" name="education">
            <!-- Navigation To Previous Page -->
            <div class="navigationContainer" layout-gt-xs="row" layout="row" layout-sm="column" layout-align="center center" flex>
                <div class="icon previousPageLink" title="Previous Page">
                    <i class="fa fa-angle-double-up fa-lg"></i>
                </div>
            </div>
            <h1 class="row"><span><i class="fa fa-graduation-cap fa-2x"></i></span><strong>Education</strong> </h1>
            <div class="row pt-page-1-content">
                <div class="col-md-1 spacer"></div>
                <div class="col-md-10 education_wrapper ">
                    <div class="education_line education-item-with-appearance">
                        <div class="education-separation-element"></div>
                        <div class="education-item education-left">
                            <div class="education-item-wrapper">
                                <div class="education-info-holder">
                                    <div class="education-info-date">May / 2008</div>
                                    <div class="education-info-institution">Avinashilingam University</div>
                                    <div class="education-info-department">Information Technology</div>
                                </div>
                                <div class="education-desc-holder">
                                    <h5>Bachelor of Engineering </h5>
                                    <p class="excerpt">Information Technology </p>
                                    <p class="excerpt">GPA: 3.1/4.0 </p>
                                    <p class="excerpt-text">Courses include data structures and algorithms, operating systems, computer theory, object
                                        oriented analysis and design, etc.</p>
                                </div>
                            </div>
                        </div>
                        <div class="education-item education-right">
                            <div class="education-item-wrapper">
                                <div class="education-info-holder">
                                    <div class="education-info-date">Dec / 2010</div>
                                    <div class="education-info-institution">Camden County Community College</div>
                                    <div class="education-info-department">Computer Graphics </div>
                                </div>
                                <div class="education-desc-holder">
                                    <h5>Associate in Applied Science </h5>
                                    <p class="excerpt">Game Design and Development </p>
                                    <p class="excerpt">GPA: 3.8/4.0 </p>
                                    <p class="excerpt-text">Courses include computer animation, computer graphics, game design, game theory, game
                                        development, etc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 spacer"></div>
            </div>

            <!-- Interests -->
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-3"></div>
                <div class="col-md-1 interest_wrapper">
                    <img src="img/img-1.png"/>
                    <h5 class="interest_text">Books</h5>
                </div>
                <div class="col-md-1 interest_wrapper">
                    <img src="img/img-2.png"/>
                    <h5 class="interest_text">Photography</h5>
                </div>
                <div class="col-md-1 interest_wrapper">
                    <img src="img/img-3.png"/>
                    <h5 class="interest_text">Music</h5>
                </div>
                <div class="col-md-1 interest_wrapper">
                    <img src="img/img-4.png"/>
                    <h5 class="interest_text">Travel</h5>
                </div>
                <div class="col-md-1 interest_wrapper">
                    <img src="img/img-5.png"/>
                    <h5 class="interest_text">BasketBall</h5>
                </div>
                <div class="col-md-1 interest_wrapper">
                    <img src="img/img-6.png"/>
                    <h5 class="interest_text">Design</h5>
                </div>
                <div class="col-md-3"></div>
            </div>

            <!-- Navigation To Next Page -->
            <div class="row navigationContainer nextPageNavContainer" >
                <div class="icon nextPageLink" title="Next Page">
                    <i class="fa fa-angle-double-down fa-lg"></i>
                </div>
            </div>
        </div>
        <!-- *********************************** -->
        <!-- End: Education Page -->
        
        <!-- *********************************** -->
        <!-- Start: Portfolio Page -->
        <div class="container pt-page pt-page-5 fullheight" name="portfolio" ng-controller="PortfolioController">
            <!-- Navigation To Previous Page -->
            <div class="navigationContainer" layout-gt-xs="row" layout="row" layout-sm="column" layout-align="center center" flex>
                <div class="icon previousPageLink" title="Previous Page">
                    <i class="fa fa-angle-double-up fa-lg"></i>
                </div>
            </div>
            <h1 class="row"><span><i class="fa fa-briefcase fa-2x"></i></span><strong>Portfolio</strong></h1>
            <div class="row pt-page-1-content portfolio-content">
                <div class="row portfolio_filter_buttons">
                    <button class="current-category" data-filter="*">all</button>
                    <button data-filter=".graphic-design">graphic design</button>
                    <button data-filter=".web-graphics">Web Graphics</button>
                    <button data-filter=".web-design">Web Design</button>

                 </div>
                
                <div class="row grid">
                    <div class="grid-item {{detail.categories}}" ng-repeat="detail in details"  >
                        <figure class="thumbnail effect-honey" ng-click="showDialog($event, $index)">
                            <img ng-src="{{detail.thumbnailUrl}}" width="480" height="300"/>
                            <figcaption>
                                <h2>{{detail.heading}}</h2>
                                <!--<p>{{detail.shortDescription}}</p>-->
                            </figcaption>	
                        </figure>
                    </div>
                 </div>
            </div>
            <!-- Navigation To Next Page -->
            <div class="row navigationContainer nextPageNavContainer">
                <div class="icon nextPageLink" title="Next Page">
                    <i class="fa fa-angle-double-down fa-lg"></i>
                </div>
            </div>
        </div>
        <!-- *********************************** -->
        <!-- End: Portfolio Page -->
        
        <!-- *********************************** -->
        <!-- Start: Contact Me Page -->
        <div class="container pt-page pt-page-6" name="contact">
            <!-- Navigation To Previous Page -->
            <div class="navigationContainer" layout-gt-xs="row" layout="row" layout-sm="column" layout-align="center center" flex>
                <div class="icon previousPageLink" title="Previous Page">
                    <i class="fa fa-angle-double-up fa-lg"></i>
                </div>
            </div>
            <h1 class="row"><span><i class="fa fa-compass fa-2x"></i></span><strong>CONTACT</strong> </h1>
            <div class="row">
                <div class="row pt-page-1-content contactFormContainer" ng-controller="ContactMeController">
                    <form name="contactMeForm">
                        <div class="row form-row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 form-group-lg"><input type="text" class="form-control input-lg" id="name" placeholder="Name" ng-model="newMessage.name"/></div>
                            <div class="col-md-4 form-group-lg"><input type="email" class="form-control input-lg" id="emailAddress" placeholder="Email" ng-model="newMessage.email"/></div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 form-group-lg"><textarea class="form-control" rows="4" placeholder="Message" ng-model="newMessage.message"></textarea></div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row text-center" id="toastBounds"></div>        
                        <div class="row form-row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 form-group-lg text-center"><button type="button" class="btn btn-info" ng-click="addMessage()" ng-disabled="contactMeForm.$invalid">SEND MESSAGE</button>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="google-map-api row" flex="grow" layout="row">
                <div class="map-title">Glenmoore, PA</div>
                <div id="map-canvas" class="gmap row" flex="grow"></div>
            </div>
            <!-- Navigation To Next Page -->
            <div class="navigationContainer nextPageNavContainer" layout-gt-xs="row" layout="row" layout-sm="column" layout-align="center center" flex>
                <div class="icon nextPageLink" title="Next Page">
                    <i class="fa fa-angle-double-down fa-lg"></i>
                </div>
            </div>

            <div class="socialIconsContainer" layout-gt-xs="row" layout="row" layout-sm="row" layout-align="center center" layout-margin layout-padding>
                <div>
                    <a class="fa fa-lg fa-envelope contact-icon" href="mailto:revsindhuc@gmail.com"></a>
                </div>
                <div>
                    <a class="fa fa-lg fa-facebook contact-icon" href="https://www.facebook.com/revathy.ragul" target="_blank"></a>
                </div>
                <div>
                    <a class="fa fa-lg fa-pinterest-p contact-icon" href="https://www.pinterest.com/revathygul/" target="_blank"></a>
                </div>
                <div>
                    <a class="fa fa-lg fa-linkedin contact-icon" href="https://www.linkedin.com/in/revathy-s-chellapandian-8a81b168" target="_blank"></a>
                </div>

                <div>
                    <a class="fa fa-lg fa-book contact-icon" href="https://www.goodreads.com/revathyragul" target="_blank"></a>
                </div>

            </div>

        </div>
        <!-- *********************************** -->
        <!-- End: Contact Me Page -->
        
        <!-- JavaScript Sources -->
        <script src="js/modernizr.custom.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-aria.min.js"></script>
        <script src="js/angular-messages.min.js"></script>
        <script src="js/angular-material.min.js"></script>
        <script src="js/firebase.js"></script>
        <script src="js/angularfire.min.js"></script>
        <script src="js/pagetransitions.js"></script>
        <script src="js/jquery.easypiechart.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/masonry.pkgd.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/flickity.pkgd.min.js"></script>
        <script src="js/modernizr.custom.gallery.js"></script>
        <script src="js/jquery.gallery.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="js/index.js"></script>
</body>
</html>